<a href="https://colab.research.google.com/github/iynnn/Semester-6/blob/main/DATMIN/00.UAS/Apriori.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sumber kodingan dari github 60 https://github.com/modul60stis/dmkm/blob/main/python/association%20rule/Association_Rule.ipynb

In [ ]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [ ]:
data = [
    'Blouse',
    'Shoes, Skirt, TShirt',
    'Jeans, TShirt',
    'Jeans, Shoes, TShirt',
    'Jeans, Shorts',
    'Shoes, TShirt',
    'Jeans, Skirt',
    'Jeans, Shoes, Shorts, TShirt',
    'Jeans',
    'Jeans, Shoes, TShirt',
    'TShirt',
    'Blouse, Jeans, Shoes, Skirt, TShirt',
    'Jeans, Shoes, Shorts, TShirt',
    'Shoes, Skirt, TShirt',
    'Jeans, TShirt',
    'Skirt, TShirt',
    'Blouse, Jeans, Skirt',
    'Jeans, Shoes, Shorts, TShirt',
    'Jeans',
    'Jeans, Shoes, Shorts, TShirt'
]

data

['Blouse',
 'Shoes, Skirt, TShirt',
 'Jeans, TShirt',
 'Jeans, Shoes, TShirt',
 'Jeans, Shorts',
 'Shoes, TShirt',
 'Jeans, Skirt',
 'Jeans, Shoes, Shorts, TShirt',
 'Jeans',
 'Jeans, Shoes, TShirt',
 'TShirt',
 'Blouse, Jeans, Shoes, Skirt, TShirt',
 'Jeans, Shoes, Shorts, TShirt',
 'Shoes, Skirt, TShirt',
 'Jeans, TShirt',
 'Skirt, TShirt',
 'Blouse, Jeans, Skirt',
 'Jeans, Shoes, Shorts, TShirt',
 'Jeans',
 'Jeans, Shoes, Shorts, TShirt']

## Olah Data
Ubah data menjadi satu baris per item

In [ ]:
lst = list()
for i, items in zip(range(len(data)), data):
    for item in items.split(', '):
        lst.append([i+1, item, 1])

lst = pd.DataFrame(lst).rename(columns = {0 : 'ID', 1 : 'Item', 2 : 'Quantity'})
lst

    ID    Item  Quantity
0    1  Blouse         1
1    2   Shoes         1
2    2   Skirt         1
3    2  TShirt         1
4    3   Jeans         1
5    3  TShirt         1
6    4   Jeans         1
7    4   Shoes         1
8    4  TShirt         1
9    5   Jeans         1
10   5  Shorts         1
11   6   Shoes         1
12   6  TShirt         1
13   7   Jeans         1
14   7   Skirt         1
15   8   Jeans         1
16   8   Shoes         1
17   8  Shorts         1
18   8  TShirt         1
19   9   Jeans         1
20  10   Jeans         1
21  10   Shoes         1
22  10  TShirt         1
23  11  TShirt         1
24  12  Blouse         1
25  12   Jeans         1
26  12   Shoes         1
27  12   Skirt         1
28  12  TShirt         1
29  13   Jeans         1
30  13   Shoes         1
31  13  Shorts         1
32  13  TShirt         1
33  14   Shoes         1
34  14   Skirt         1
35  14  TShirt         1
36  15   Jeans         1
37  15  TShirt         1
38  16   Skirt         1
39  16  TShirt         1
40  17  Blouse         1
41  17   Jeans         1
42  17   Skirt         1
43  18   Jeans         1
44  18   Shoes         1
45  18  Shorts         1
46  18  TShirt         1
47  19   Jeans         1
48  20   Jeans         1
49  20   Shoes         1
50  20  Shorts         1
51  20  TShirt         1

In [ ]:
bucket = (lst.groupby(['ID', 'Item'])['Quantity']
          .sum()
          .unstack()
          .reset_index()
          .fillna(0)
          .set_index('ID')
          .applymap(lambda x : 1 if x > 0 else 0))
bucket

Item  Blouse  Jeans  Shoes  Shorts  Skirt  TShirt
ID
1          1      0      0       0      0       0
2          0      0      1       0      1       1
3          0      1      0       0      0       1
4          0      1      1       0      0       1
5          0      1      0       1      0       0
6          0      0      1       0      0       1
7          0      1      0       0      1       0
8          0      1      1       1      0       1
9          0      1      0       0      0       0
10         0      1      1       0      0       1
11         0      0      0       0      0       1
12         1      1      1       0      1       1
13         0      1      1       1      0       1
14         0      0      1       0      1       1
15         0      1      0       0      0       1
16         0      0      0       0      1       1
17         1      1      0       0      1       0
18         0      1      1       1      0       1
19         0      1      0       0      0       0
20         0      1      1       1      0       1

sebelum data dimasukkan ke dalam algoritma apriori, kita bisa bentuk data seperti tabel di atas

In [ ]:

frequent_itemsets = apriori(bucket, min_support=0.30, use_colnames=True)
frequent_itemsets

   support                itemsets
0     0.70                 (Jeans)
1     0.50                 (Shoes)
2     0.30                 (Skirt)
3     0.70                (TShirt)
4     0.35          (Jeans, Shoes)
5     0.45         (Jeans, TShirt)
6     0.50         (TShirt, Shoes)
7     0.35  (TShirt, Jeans, Shoes)

In [ ]:
rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.5)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Jeans),(Shoes),0.70,0.50,0.35,0.500000,1.000000,0.000,1.000000
1,(Shoes),(Jeans),0.50,0.70,0.35,0.700000,1.000000,0.000,1.000000
2,(Jeans),(TShirt),0.70,0.70,0.45,0.642857,0.918367,-0.040,0.840000
3,(TShirt),(Jeans),0.70,0.70,0.45,0.642857,0.918367,-0.040,0.840000
4,(TShirt),(Shoes),0.70,0.50,0.50,0.714286,1.428571,0.150,1.750000
5,(Shoes),(TShirt),0.50,0.70,0.50,1.000000,1.428571,0.150,inf
6,"(Jeans, TShirt)",(Shoes),0.45,0.50,0.35,0.777778,1.555556,0.125,2.250000
7,"(Shoes, TShirt)",(Jeans),0.50,0.70,0.35,0.700000,1.000000,0.000,1.000000
8,"(Jeans, Shoes)",(TShirt),0.35,0.70,0.35,1.000000,1.428571,0.105,inf
9,(TShirt),"(Jeans, Shoes)",0.70,0.35,0.35,0.500000,1.428571,0.105,1.300000
10,(Jeans),"(Shoes, TShirt)",0.70,0.50,0.35,0.500000,1.000000,0.000,1.000000
11,(Shoes),"(Jeans, TShirt)",0.50,0.45,0.35,0.700000,1.555556,0.125,1.833333